{% extends "base.twig" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
    {% block css %}<style>{{ source('@views/base.css') }}</style>{% endblock %}
{% endblock %}



          {# {% block header %} 
{% if userInfo.session.valid == true %}
   <li class="nav-item"><p class="nav-link" style="text-align: center; height:1vh">Connecté en tant que {{ userInfo.session.FirstName }} {{ userInfo.session.LastName }}</p></li>
       <form action="/login" method="post">
   <li class="nav-item"> <button class="btn rounded-pill btn-dark py-2 px-4" name="logout" type="submit">Logout</button></li>
    </form>
{% else %}
          <li class="nav-item active"><a class="nav-link" href="/login">Login</a></li>
          <li class="nav-item"><a class="btn rounded-pill btn-dark py-2 px-4" href="/registration">Sign up</a></li>
{% endif %}
{% endblock %} #}


{% block header %} 
        <div class="allignDynamic">
        <li class="navigation__item"><a href="/" class="navigation__link navigation__link--is-active">Home</a></li>
{% if userInfo.session.valid == true %}
        <li class="navigation__item"><span STYLE="padding:0 0 0 10px;"><a>Connecté en tant que {{ userInfo.session.FirstName }} {{ userInfo.session.LastName }}</a></li>

    {% if userInfo.session.Role == 1 %}
            <li class="navigation__item"><a href="/adminPanel" class="navigation__link">Admin Panel</a></li>
    {% endif %}

        <li class="navigation__item"><a href="/cart" class="navigation__link">Cart</a></li>
        <form action="/login" method="post">
        <li class="navigation__item"><button class="navigation__link" name="logout" type="submit">Logout</a></li>
        </form>
{% else %}
        <li class="navigation__item"><a href="/login" class="navigation__link">Login</a></li>
        <li class="navigation__item"><a href="/registration" class="navigation__link">Register</a></li>
{% endif %}
        </div>
{% endblock %}





{% block productCard %}




<div class="container">

    {% for key, info in userInfo %}
        {% if key != "session" %}
{# {% for info in userInfo %} #}
<div class="card">

  <div class="imgBox">
    <img src="https://wiki.tripwireinteractive.com/images/4/47/Placeholder.png" alt="mouse corsair" class="productImg">
  </div>

  <div class="contentBox">
    <h3>{{ info.Name }}</h3>
    <h2 class="price">{{ info.Price }} €</h2>
  <form action="/" method="post">
    <button class="buy" name="addToCart" value ={{ info.ProductId }} >Add to cart</button>
</form>

  </div>

</div>
 {# {% endfor %} #}
                 {% endif %}
    {% endfor %}
</div>

{% endblock %}






    {# <td>{% block productId %}{% endblock %}</td>
    <td>{% block productName %}{% endblock %}</td>
    <td>{% block productPrice %}{% endblock %}</td>
    <td>{% block productQuantity %}{% endblock %}</td>
    <td>{% block productSuppliers %}{% endblock %}</td>
    <td>{% block productCategory %}{% endblock %}</td> #}

        

